/* Smartphones (portrait) ----------- */
@media only screen and (orientation: portrait){
  width: 10px;
  height: 10px;
}

@media only screen and (min-device-width : 480px) and (max-device-width : 768px) and (orientation: landscape){
  width: 20px;
  height: 20px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  width: 30px;
  height: 30px;
}

@media only screen  and (min-width : 1224px) {
  width: 40px;
  height: 40px;
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  width: 40px;
  height: 40px;
}

.board .boardRow .tile{
  border: 1px solid black;
  display: inline-block;
}
