.tile{
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: inline-block;
  margin: 1px;
}

@media only screen and (orientation: portrait){
  .tile{
    width: 10px;
    height: 10px;
  }
}

@media only screen and (min-device-width : 480px) and (max-device-width : 768px) and (orientation: landscape){
  .tile{
    width: 15px;
    height: 15px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1224px) {
  .tile{
    width: 15px;
    height: 15px;
    margin: 2px;
  }
}

@media only screen  and (min-width : 1224px) {
  .tile{
    width: 20px;
    height: 20px;
    margin: 2px;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .tile{
    width: 20px;
    height: 20px;
    margin: 2px;
  }
}


.tile.tile-piece-i{
  background: maroon;
}

.tile.tile-piece-j{
  background: lightgrey;
}

.tile.tile-piece-l{
  background: purple;
}

.tile.tile-piece-o{
  background: navy;
}

.tile.tile-piece-s{
  background: darkgreen;
}

.tile.tile-piece-t{
  background: brown;
}

.tile.tile-piece-z{
  background: teal;
}

.tile.tile-preview{
  background: blue;
}
